#about{
  background-color: #ffffff;
  height: 100%;
}

.about-info{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(7,100px);

  @media (max-width: 991px) {
    grid-template-columns: 1fr;
  }

  .about-info-caption{
    @include cera-pro(32px, 700, start, #111);
    @include display-flex;

    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;

    padding: 0 70px;

    @media (max-width: 991px) {
      @include display-flex(column, center, center);

      grid-column-end: 3;
    }
  }

  .about-info-text{
    @include cera-pro(22px, 400, start, #111);
    @include display-flex(column, flex-start, flex-start);

    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 8;

    padding: 0 70px;

    @media (max-width: 991px) {
      @include display-flex;
      grid-column-end: 3;
      grid-row-start: 6;

      padding: 0 50px;
    }

    @media (max-width: 425px) {
      @include cera-pro(20px,400, start, #111);
    }
  }

  .about-info-img{
    & img{
      width: auto;
      height: 100%;

      @media (max-width: 991px) {
        @include flex-for-img;
      }
      
      @media (max-width: 425px) {
        width: 100%;
        height: auto;
      }
    }

    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 8;

    @media (max-width: 991px) {
      grid-column-start: 1;
      grid-row-start: 2;
      grid-row-end: 6;
    }

    @media (max-width: 425px) {
      grid-column-start: 1;
      grid-row-start: 2;
      grid-row-end: 6;
    }
  }
}