.feature-1-wrap{
  background-color: $green;
}

.feature-2-wrap{
  background-color: $beige;
}

.feature-1-wrap, .feature-2-wrap,{
  height: 100%;
  @include page-padding;

  .feature-1, .feature-2{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 100px);

    @media (max-width: 991px){
      padding: 30px 0;
      grid-template-columns: 1fr;
      grid-template-rows: repeat(5, 100px);
    }

    @media (max-width: 767px){
      grid-template-columns: 1fr;
      grid-template-rows: repeat(6, 100px);
    }
  }
}

.feature-1-img{
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 4;

  justify-self: start;
}

.feature-2-img{
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 4;

  justify-self: end;
}

.feature-1-caption{
  @include display-flex(row, center, flex-start);

  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}

.feature-2-caption{
  @include display-flex(row, center, flex-start);

  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}

.feature-1-text{
  @include display-flex(row, center, flex-start);

  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 4;
}

.feature-2-text{
  @include display-flex(row, center, flex-start);

  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 4;
}

.feature-1-caption, .feature-2-caption{
  @media (max-width: 991px) {
    @include display-flex(row, center, center);

    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
  }
}

.feature-1-text, .feature-2-text{
  @media (max-width: 991px) {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 5;
    grid-row-end: 6;
  }

  @media (max-width: 767px) {
    grid-row-end: 7;
  }

  @media (max-width: 425px) {
    grid-row-start: 5;
    grid-row-end: 7;
  }

  @media (max-width: 375px) {
    grid-row-start: 4;
  }
}

.feature-1-img, .feature-2-img{
  align-self: center;

  @media (max-width: 991px) {
    justify-self: center;
    align-self: start;

    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 5;
  }

  @media (max-width: 425px){
    width: 100%;
  }
}