#main-page{
  height: 90vh;
  position: relative;
  background: url("../img/Background.png") no-repeat center;
  background-size: cover;

  .main-page-window{
    padding: 40px 0;
  }

  .main-page-button{
    @include button(#111, #fff);
    @include cera-pro(24px, 700, center, #fff);
    @include transition-for-button;

    &:hover{
      transform: translate3d(0,-15px,0);
    }
  }
}