#login-page, #register-page{
  height: 90vh;
  background-color: #fff;

  .auth-caption{
    @include cera-pro(32px, 700, center, #111);
    text-transform: uppercase;
    padding-bottom: 40px;
  }
}

#register-page{
  .auth-form-input{
    &:nth-child(2){
      margin-bottom: 20px;
    }
  }
}

.auth-form-wrap{

  .auth-form-input{
    @include cera-pro(24px, 400, start, $gray);
    @include input-style;
    background-color: transparent;

    &:first-child{
      margin-bottom: 20px;
    }
  }

  .auth-form-register-link{
    @include cera-pro(16px, 700, center, $gray);
    @include transition-for-links;
    text-transform: uppercase;
    text-decoration: none;
    padding-top: 20px;

    &:hover{
      transform: translate3d(0, -5px, 0);
    }
  }

  .auth-form-button{
    margin-top: 40px;
    @include cera-pro(24px, 700, center, #fff);
    @include button-link( #3C7AFC, #fff );
    @include transition-for-links;

    border: none;
    width: 260px;
    height: 60px;
  }
}
