@import 'fonts';
@import 'vars';
@import 'header';
@import 'footer';
@import '_main';
@import "_about";
@import "_searchshmot";
@import "_features";

h1, h2, h3, h4, h5, h6{
    margin: 0;
}
li{
    list-style: none;
}
body {
    padding-top: 75px;
    background-color: #e2e2e2;
}
button{
    &:focus{
        outline: none;
    }
    &:active{
        outline: none;
    }
}
#root {
    min-height: calc(100vh - 77px);
}
.container{
    height: 100%;
}

.caption{
    @include cera-pro(32px, 700, start, #111);

    @media(max-width: 991px){
        @include cera-pro(32px, 700, center, #111);
    }

    @media(max-width: 425px){
        @include cera-pro(26px, 700, center, #111);
    }
}

.text{
    @include cera-pro(22px, 400, start, #111);

    @media (max-width: 425px) {
        @include cera-pro(20px,400, start, #111);
    }
}