@import 'fonts';
@import 'vars';
@import 'header';
@import 'footer';
@import '_main';

li{
    list-style: none;
}

body {
    padding-top: 77px;
    background-color: #e2e2e2;
}
button{
    &:focus{
        outline: none;
    }
}
#root {
    min-height: calc(100vh - 77px);
}

.container{
    height: 100%;
}