$light-purple: #E4C9F5;
$light-pink: #FFD0E3;
$dark-pink: #E9ABC4;

@mixin cera-pro ($font-size:18px, $font-weight:400, $text-align:center, $color: #111111 ){
  font-size: $font-size;
  font-weight: $font-weight;
  text-align: $text-align;
  color: $color;

  font-style: normal;
  letter-spacing: 1px;
  transition: color 0.2s linear;
}

@mixin underline($color:$light-purple){
  content: "";
  opacity: 0;
  width: 100%;
  height: 8px;
  background-color: $color;

  position: absolute;
  left: 0;
  bottom: 9px;
  z-index: -1;

  transition: opacity 0.3s linear;
}

@mixin thin-underline{
  content: "";
  opacity: 0;
  width: 100%;
  height: 2px;
  background-color: #111111;

  position: absolute;
  left: 0;
  bottom: 6px;

  transition: opacity 0.3s linear;
}

@mixin button($bac-color: #111, $text-color: #fff){
  background-color: $bac-color;
  color: $text-color;
  border: none;

  padding: 16px 20px;

  &:hover{
    transform: translate3d(0,-15px,0);
  }
}

@mixin transition-for-button{
  transition: transform 0.3s linear;
}

@mixin flex-for-text($justify-content:center, $aligh-align: start){
  display: flex;
  flex-direction: column;
  justify-content: $justify-content;
  align-items: $aligh-align;
  padding: 0 30px;

  @media (max-width: 991px) {
    padding: 0 50px;
  }
}

@mixin flex-for-img{
  display: flex;
  align-items: center;
  margin: 0 auto;
}