$light-purple: #E4C9F5;
$light-pink: #FFD0E3;
$dark-pink: #E9ABC4;
$blue: #A7BCCC;
$green: #BCD5CA;
$beige: #E8DCD2;


@mixin cera-pro ($font-size: 18px, $font-weight: 400, $text-align: center, $color: #111111 ){
  font-size: $font-size;
  font-weight: $font-weight;
  text-align: $text-align;
  color: $color;

  font-style: normal;
  letter-spacing: 1px;
  transition: color 0.2s linear;
}

@mixin underline($color:$light-purple){
  content: "";
  opacity: 0;
  width: 100%;
  height: 8px;
  background-color: $color;

  position: absolute;
  left: 0;
  bottom: 9px;
  z-index: -1;

  transition: opacity 0.3s linear;
}

@mixin thin-underline{
  content: "";
  opacity: 0;
  width: 100%;
  height: 2px;
  background-color: #111111;

  position: absolute;
  left: 0;
  bottom: 6px;

  transition: opacity 0.3s linear;
}

@mixin button-link($bac-color: #111, $text-color: #fff){
  background-color: $bac-color;
  color: $text-color;

  &:hover{
    transform: translate3d(0,-15px,0);
  }
}

@mixin transition-for-links{
  transition: transform 0.3s linear;
}

@mixin display-flex ($flex-direction: column, $align-col-items: flex-start, $justify-col-content: center){
  display: flex;
  flex-direction: $flex-direction;
  align-items: $align-col-items;
  justify-content: $justify-col-content;
}

@mixin page-padding{
  padding: 50px 0;

  @media (max-width: 991px){
    padding: 0 20px
  }
}
